@model Gruppeoppgave1.Models.Film

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/Home/MainPage" class="navbar-brand brand"><i class="fa fa-codepen"></i>Movie Purchase</a>
        </div>
        <div id="navbar-collapse-02" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li> @Html.ActionLink("Welcome", "MainPage", "Home")</li>
                <li> @Html.ActionLink("Logout", "Loggut", "Home")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</div>

<h2>Film</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Beskrivelse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Beskrivelse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KategoriId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KategoriId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "MainPage")
</p>
