@model List<Gruppeoppgave1.Models.Film>

<link rel="stylesheet" type="text/css" href="~/Content/MainPage.css">
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/ajaxJqueryData.js"></script>


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand brand"><i class="fa fa-codepen"></i>Movie Purchase</a>
        </div>
        <div id="navbar-collapse-02" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>


            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <input id="searchBox" style="margin-top:13px;" type="text" placeholder="Search.."></li>
                <li><a href="~/Home/Registry"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/Home/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</div>

<!--Karosell-->
<div id="minCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#minCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#minCarousel" data-slide-to="1"></li>
        <li data-target="#minCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox" style="height: 500px;">
        <!-- Bilder -->
        <div class="item active">
            <img src="~/Images/finding-nemo.jpg" />
        </div>

        <div class="item">
            <img src="~/Images/will-finding-dory-be-different-the-biggest-disney-sequel-fails-7142791.jpg" />
        </div>
    </div>

    <!--Karosell Piler-->
    <a class="left carousel-control" href="#minCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#minCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>

</div>

<div class="container">
    <h3> Filmer</h3>
    <div id="dropDown">
        <select id="drop"></select>
    </div>
    <div id="visInfo">
<<<<<<< HEAD
    </div>
    <br>

    @foreach (var film in Model)
    {

        var base64 = Convert.ToBase64String(@film.Bilde);
        var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

        <!-- <a href="@Url.Action("Payment", "Home", new { id = film.Id , Movie= film.Navn }, null)">-->
        <a data-toggle="modal" data-target="#@film.Id">
            <div class="col-xs-3 col-center-block">
                <img class="rounded-circle" src="@imgSrc" alt="Generic placeholder image">
                <!-- @film.Navn</h4> --><h4>
            </div>
        </a>



        <!-- Modal -->
        <div class="modal fade" id="@film.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">@film.Navn</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <img style="width:100%; height: 270px;" class="rounded-circle" src="@imgSrc" alt="Generic placeholder image">
                        <div>
                            <dl class="dl-horizontal">
                                <dt>
                                    Navn
                                </dt>

                                <dd>
                                    @film.Navn
                                </dd>


                                <dt>
                                    Beskrivelse
                                </dt>

                                <dd>
                                    @film.Beskrivelse
                                </dd>

                                <dt>
                                    Pris
                                </dt>

                                <dd>
                                    @film.Pris
                                </dd>

                                <dt>
                                    KategoriId
                                </dt>

                                <dd>
                                    @film.KategoriNavn
                                </dd>

                            </dl>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        @Html.ActionLink("Buy", "Login", "Home", null, new { @class = "btn btn-primary" })


                    </div>
                </div>
            </div>
        </div>
=======

    </div>
    <br>
    <div id="visFilmer">
        @foreach (var film in Model)
        {

            var base64 = Convert.ToBase64String(@film.Bilde);
            var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);

            <!-- <a href="@Url.Action( "Details", "Home", new { id = film.Id , Movie= film.Navn }, null)">-->
            <a data-toggle="modal" data-target="#@film.Id">
                <div class="col-xs-3 col-center-block">
                    <img class="rounded-circle" src="@imgSrc" alt="Generic placeholder image">
                    <!-- @film.Navn</h4> -->
                </div>
            </a>


            <div id="visInfo">
                <!-- Modal -->
                <div class="modal fade" id="@film.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h3 class="modal-title" id="exampleModalLabel">@film.Navn</h3>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="modal-body">

                                <img style="width:100%; height: 270px;" class="rounded-circle" src="@imgSrc" alt="Generic placeholder image">
                                <div>
                                    <dl class="dl-horizontal">
                                        <dt>
                                            Navn
                                        </dt>

                                        <dd>
                                            @film.Navn
                                        </dd>


                                        <dt>
                                            Beskrivelse
                                        </dt>

                                        <dd>
                                            @film.Beskrivelse
                                        </dd>

                                        <dt>
                                            Pris
                                        </dt>

                                        <dd>
                                            @film.Pris
                                        </dd>

                                        <dt>
                                            KategoriId
                                        </dt>

                                        <dd>
                                            @film.KategoriNavn
                                        </dd>

                                    </dl>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                @Html.ActionLink("Buy", "Login", "Home", null, new { @class = "btn btn-primary" })


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>



</div>
>>>>>>> 34f773b2a380fedc9384a5d766530ad548387cd5

    }

<<<<<<< HEAD

</div>
=======
>>>>>>> 34f773b2a380fedc9384a5d766530ad548387cd5

