@model List<Gruppeoppgave1.Models.Film>

<link rel="stylesheet" type="text/css" href="~/Content/MainPage.css">

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand brand"><i class="fa fa-codepen"></i>Movie Purchase</a>
        </div>
        <div id="navbar-collapse-02" class="collapse navbar-collapse">
            <ul class="nav navbar-nav"></ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="@Url.Action("MainPage", "Home")">Welcome @ViewBag.message</a></li>
                <li> @Html.ActionLink("Logout", "Loggut", "Home")</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</div>

<div class="container">
    <h3> Alle filmene</h3>
    <br>

    @foreach (var film in Model)
    {
        <a href="@Url.Action( "Details", "Home", new { id = film.Id , Movie= film.Navn }, null)">
            <div class="col-xs-3 col-center-block">
                <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
                <h4>@film.Navn</h4>
            </div>
        </a>
    }


</div>

